* {
    font-family: Verdana, sans-serif;
}

.outputTable {
    width: 35%; 
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    border-collapse: collapse;
    border-bottom: 3px solid cadetblue;
}

.outputTable caption {
    padding: 10px;
    color: black;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.outputTable th {
    font-size: 14px;
    color: white;
    padding: 10px;
    text-align: left;
}

.outputTable td {
    padding: 5px;
}

.outputTable tr:nth-child(2){
    border-top: 3px solid cadetblue;    
}

.outputTable tr:nth-child(n+2):nth-child(odd) {
    background: white;
}
.outputTable tr:nth-child(n+2):nth-child(even) {
    background: #e8e8e8;
}


.inputTextBox{
    outline: none;
    text-decoration:none; 
    text-align:left;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.5rem 1.0rem;
    border: solid 2px #00aaff; 

    color:cadetblue; 
    background:#ffffff; 

    transition:  all 0.08s linear;
}

.inputTextBox:hover{
    border: solid 2px #0082a4; 
}

.inputTextBox:focus{
    border: solid 2px #0082a4;
    color: #0082a4;
}


.button {
    max-width: 80%;
    font-size: 0.9rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    
    color: white;
    background-color: cadetblue;
    
    border: none
}

.button:focus,
.button.has-focus,
.button:hover {
    background-color: #0082a4;
}