* {
    font-family: Verdana, sans-serif;
}


body {
    max-width: 75rem;
}

body div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.625rem;
}

.div-in-select {
    width: 70%;
    clear: both;
}

.div-in-upload {
    width: 35%;
    height: 9rem;
    background: #ccc;
    
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
}

.div-in-download {
    width: 35%;
    height: 9rem;
    background: #ccc;
    
    float: left;
    margin-bottom: 1%;
}

.div-out-message {
    width: 71%;
    background: #e8e8e8;
    clear: both;
}

.div-out-table{
    width: 71%;
    clear: both;
}


.inputSelectBox{
    outline: none;
    text-decoration:none; 
    text-align:left;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.5rem 1.0rem;
    border: solid 2px #00aaff; 

    color:cadetblue; 
    background:#ffffff; 

    transition:  all 0.08s linear;
}

.inputSelectBox:hover{
    border: solid 2px #0082a4; 
}

.inputSelectBox:focus{
    border: solid 2px #0082a4;
    color: #0082a4;
}


.button {
    max-width: 80%;
    font-size: 1.2rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    
    display:inline-block; margin-right: 0.625rem;
    vertical-align: middle;
    
    color: white;
    background-color: cadetblue;
    
    border: none;
}

.button:focus,
.button.has-focus,
.button:hover {
    background-color: #0082a4;
}


.outputTable {
    width: 100%;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: black;
    border-collapse: collapse;
    border-bottom: 3px solid cadetblue;
}

.outputTable caption {
    padding: 0.625rem;
    color: black;
    font-size: 1.125rem;
    text-align: left;
    font-weight: bold;
}

.outputTable th {
    font-size: 0.875rem;
    color: white;
    padding: 0.625rem;
    text-align: left;
}

.outputTable td {
    padding: 0.3125rem;
}

.outputTable tr:nth-child(2){
    border-top: 3px solid cadetblue;    
}

.outputTable tr:nth-child(n+2):nth-child(odd) {
    background: white;
}
.outputTable tr:nth-child(n+2):nth-child(even) {
    background: #e8e8e8;
}